RewriteEngine On
RewriteBase /programs/

# Redirect any /programs/{slug} to program.php?slug={slug}
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ program.php?slug=$1 [L,QSA]
