body{
    background-color: #f5f5f5;
}
.admin-home-title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
}
.welcome-message{
    font-weight: bold;
    font-size: 21px;
}
span{
    color: rgb(60, 243, 15);
}
.admin-page-cards-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 90vh;
}
.admin-page-card {
    min-width: 75%;
    height: 400px;
    background-color: rgb(11, 199, 36);
    margin: 20px;
    outline: 2px solid green;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.527);
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.admin-page-card a{
    color: white;
    text-decoration: none;
}
.admin-page-card p{
    font-size: 24px;
}
.admin-page-card:hover{
    transform: translateY(-4px);
}
.main-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-links ul{
    display: flex;
}
.main-links ul li{
    margin: 10px;
    list-style: none;
    font-weight: bold;
}
.main-links ul a{
    text-decoration: none;
    color: rgb(3, 160, 3);
    margin: 10px;   
}
.add-trees-button{
    background-color: rgb(31, 105, 31);
    color: white;
    width: 80px;
    height: 27px;
    border: none;
    border-radius: 7px;
}
.add-trees-button:hover{
    cursor: pointer;
}
.no-of-trees{
    color: green;
    font-weight: bold;
    font-size: 22px;
    margin-top: -20px;
}
form input  {
    width: 300px;
}
@media screen and (max-width:1120px) {
    .admin-page-cards-container{
        flex-direction: column;
    }
    .admin-page-card{
        width: 40%;
    }
}
@media screen and (max-width:772px) {
    .admin-page-card{
        width: 70%;
    }
}
@media screen and (max-width: 529px) {
    .admin-page-card{
        width: 80%;

        
    }
}