*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.home{
    width: 100%;
    height: 100vh;
    background: url(images/ggr-home-bg.jpeg);
    background-size: cover;
    background-position: 0px -20px;
    background-repeat: no-repeat;
    font-family: 'Genos', sans-serif;
}
nav{
    margin-left: 10px;
    height: auto;
    padding: 7px;

}
nav a{
    color: #00C02A;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    width: auto;
    margin-left: 50px;
}
nav ul{
    display: flex; 
    margin-top: 30px;
}
nav ul li{
    
    font-size: 29px;
}
