*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.home{
    width: 100%;
    height: 100vh;
    background: url(images/ggr-home-bg.jpeg);
    background-size: cover;
    background-position: 0px -20px;
    background-repeat: no-repeat;
    font-family: 'Genos', sans-serif;
}
nav{
    margin-left: 10px;
    height: auto;
    padding: 7px;

}
nav a{
    color: #00AA01;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    width: auto;
    margin-left: 50px;
}
nav ul{
    display: flex; 
    margin-top: 30px;
}
nav ul li{
    font-size: 29px;
}

#down-arrows{
transform: scale(.6);
margin-left: 64%;
margin-bottom: -46%;
}

.main-page-text{
    margin-left: 90px; /*REMEBER TO STYLE THIS TO MAKE IT ATTRACTIVE*/
    font-size: 50px;
    margin-top: 80px;
    font-weight: 600;
}
#main-page-text-p1{
    margin-left: 60px;
}
.about-us-main-title{
    width: 100%;
    display: flex;
    justify-content: center;
}
.about-us-main-title p{
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Genos', sans-serif;
    font-size: 30px;
    color: #00AA01;
    font-weight: bold;
}
.about-us-leadership{
    height: auto;
    background-color: #F5F5F5;
}
.leadership-container{
    display: flex;
}
#about-us-img-bg-svg{
    transform: scale(.7);
}
