* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}
html {
  scroll-behavior: smooth;
}
.main-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 70%;
  position: relative;
}

.home {
  background-color: #f5f5f5;
  background: url(images/ggr-home-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  justify-content: center;
  height: 100vh;
}

.nav1 {
  justify-content: center;
  display: flex;
  align-items: center;
  height: auto;
  font-family: "Genos", sans-serif;
  background-color: white;
}
.nav1 i {
  color: #03ff3a;
  transform: scale(0.9);
}
.nav1 a {
  color: #070c07;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  width: auto;
  margin-left: 50px;
}
.nav1 ul {
  display: flex;
  margin: 10px;
}
.nav1 ul li {
  font-size: 29px;
  position: relative;
}

.nav2 {
  display: none;
}
.nav2 i {
  color: black;
}
.nav1 ul a:hover {
  color: green;
}
.cancel-bars {
  transform: scale(2);
  margin-top: 20px;
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
  display: none;
}
.menu-bars {
  transform: scale(2);
  margin-top: 20px;
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
  display: none;
}

.main-page-col-1 {
  width: 50%;
  position: relative;
}

.main-page-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 335vh;
  background-color: rgba(0, 0, 0, 0.678);
  z-index: 0.6;
  overflow: hidden;
}
.main-page-col-1 #p1 {
  font-size: 43px;
  font-weight: bolder;
  color: #03ff3a;
  display: flex;
  justify-content: center;
  padding: 5px;
  flex-direction: column;
  font-family: "Cinzel", serif;
  z-index: 1;
  position: relative;
}
#p2 {
  display: flex;
  margin-top: 50px;
  z-index: 1;
  color: white;
  font-family: "Roboto Flex", sans-serif;
}
#p2 hr {
  transform: rotate(180deg);
  height: auto;
}
#p2 p {
  margin-top: 20px;
  color: white;
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
}
.main-page-col-2 {
  position: relative;
  opacity: 70%;
}

.read-more-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.read-more-articles a {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #070c07;
  font-weight: bold;
}
.about-us-main-title {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #0b8517;
  font-weight: bolder;
}
.about-us-main-title p {
  margin-top: 30px;
}

.about-us-main-title p {
  font-size: 30px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 30px;
  color: #0c690c;
  font-weight: bold;
  margin-top: 10px;
}
.about-us-info-container {
  display: flex;
  margin: 50px;
  flex-direction: row;
  overflow: hidden;
}
.about-us-card {
  width: 300px;
  height: 300px;
  background-color: #00aa01;
  border-radius: 7px;
  background: url(images/event-card1-bg.png);
  background-position: center;
  background-size: cover;
}
.about-us-card-svg {
  position: relative;
}
.about-us-info-description {
  width: 60%;
  font-family: "Roboto Flex", sans-serif;
  font-size: 21px;
}

.areas-of-focus {
  display: none;
}
.areas-of-focus-card {
  background: url(images/areas-of-focus-pic.jpg);
  background-position: center;
  background-size: cover;
}
.partnerships {
  display: none;
}
.partnerships-card {
  background: url(images/handshake.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  outline: 1px solid #03ff3a;
}
.vision {
  display: none;
}
.vision-card {
  background: url(images/vision.jpeg);
  background-position: center;
  background-size: cover;
}
.core-values {
  display: none;
}
.core-values-card {
  background: url(images/watering-a-tree.jpg);
  background-position: center;
  background-size: cover;
}
.success-stories {
  display: none;
}
.success-card {
  width: 360px;
  height: 300px;
  background-repeat: no-repeat;
  background: url(images/CEO-cert.jpeg);
  background-position: center;
  background-size: contain;
}
.about-us-button {
  height: 40px;
  width: 105px;
  background-color: #31fd46;
  display: flex;
  justify-content: center;
  font-family: "Genos", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  align-items: center;
  line-height: 16px;
  text-align: center;
  box-shadow: 3px 10px 8px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
}
.about-us-button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: 0.5s ease-in-out;
}
.button3 {
  width: 135px;
}
.about-us-navigation {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.about-us-navigation ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.about-us-navigation ul li {
  margin-right: 50px;
}
.about-us-navigation-column1,
.about-us-navigation-column2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movements {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  height: 400px;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
}

.movements video {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  object-fit: fill;
}
.movements .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
}
.movements-content {
  z-index: 1;
  position: relative;
}
.movements-title {
  font-size: 50px;
  font-family: "Genos", sans-serif;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.movements .p2,
.p3 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.329);
}
.movements .p3 {
  margin-top: 200px;
  color: rgb(255, 255, 255);
}
.circle1 {
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: #31fd46;
  border-radius: 100px;
  left: -90px;
  top: -90px;
}
.circle2 {
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: #31fd46;
  border-radius: 100px;
  right: -90px;
  bottom: -120px;
  overflow: hidden;
}

#events {
  background-color: #f5f5f5;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-brief-title {
  display: flex;
  color: #0b8517;
  background-color: #f5f5f5;
  font-size: 30px;
  justify-content: center;
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
}
.events-brief-title p {
  margin-top: 30px;
}
.events-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 0px;
}
.event-brief-card {
  height: 400px;
  width: 30%;
  margin: 70px;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Flex", sans-serif;
}
.evend-card2 {
  width: 40%;
  font-family: "Roboto Flex", sans-serif;
  font-size: 23px;
}
.event-brief-card:hover {
  cursor: pointer;
}
.event-brief-card:hover .event-brief-card-button {
  display: block;
}
.event-brief-card:hover .event-card-content {
  display: none;
}
.event-brief-card:hover .event-card-overlay {
  display: none;
  @keyframes overlayfadeout {
    0% {
      opacity: 70%;
    }
    50% {
      opacity: 30%;
    }
    100% {
      opacity: 0%;
    }
  }
}

.event-brief-card1 {
  background: url(images/event-card1-bg.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.event-brief-card2 {
  background: url(images/event-card2-bg.png);
  background-position: center;
  background-size: cover;
}
.event-card-overlay {
  position: absolute;
  border-radius: 10px;
  transition: 2s infinite;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
  animation: overlayfadeout 2s infinite;
}
.event-card-content {
  position: relative;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-size: 23px;
}
.event-brief-card-button {
  padding: 7px;
  position: absolute;
  z-index: 1;
  bottom: -16px;
  left: 0;
  background-color: #139620;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 6px;
  font-family: "Genos", sans-serif;
  font-weight: bold;
  color: white;
}

.event-brief-card-button:hover {
  cursor: pointer;
}
.gallery-brief {
  width: 100%;
  flex-wrap: wrap;
}
.gallery-brief-container {
  display: flex;
  background-color: #f5f5f5;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 30px;
}

.gallery-brief-card {
  width: 20%;
  height: 300px;
  margin-bottom: 100px;
  border-radius: 10px;
  margin-top: 30px;
  margin: 10px;
  transition: 0.3s ease-in-out;
  margin-bottom: 50px;
}
.gallery-brief-card:hover {
  transform: scale(1.1);
}
.gallery-description-title {
  display: flex;
  justify-content: center;
  width: 100%;
}
.gallery-description-title hr {
  background: none;
  width: 20px;
  height: none;
}
#hr-gallery {
  all: unset;
}
.gallery-description-title p {
  font-size: 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: bolder;
  color: #0b8517;
}
.gallery-brief-card1 {
  background: url(images/ceo-watering-trees.jpeg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-brief-card2 {
  background: url(images/gallery-brief-card2.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-brief-card3 {
  background: url(images/gallery-brief-card3.png);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-brief-card4 {
  background: url(images/gallery-brief-card4.jpeg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.gallery-description-title {
  background-color: #f5f5f5;
}
.red-a-tag-here {
  color: rgb(255, 248, 248);
}
.centered-button-div {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f5f5f5;
}
.gallery-brief-button {
  padding: 7px;
  background-color: #139620;
  border: none;
  font-family: "Genos", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 50px;
}
.blogs-brief-title {
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
  color: #0b8517;
  font-weight: bold;
}

#blogs-brief {
  background-color: #f5f5f5;
}
.blog-span {
  color: #139620;
}
.blogs-brief-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-brief-hero-text {
  width: 30%;
  font-family: "Roboto Flex", sans-serif;
  font-size: 30px;
  margin-right: 30px;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.blog-brief-hero-text-button {
  background-color: #139620;
  border: none;
  padding: 7px;
  font-family: "Genos", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-bottom: -370px;
}
.blog-brief-hero-text-button a {
}
.blog-brief-svg {
  transform: scale(0.6);
}
.blog-brief-card {
  width: 20%;
  height: 400px;
  background-color: #44a844;
  border-radius: 7px;
  margin-bottom: 50px;
}
.blog-brief-card-picture {
  width: 100%;
  height: 50%;
  background: url(images/blog-brief-card-bg.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-brief-card-overlay {
  position: absolute;
  border-radius: 10px;
  transition: 2s infinite;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
}
.blog-brief-card-picture-section-content {
  z-index: 1;
  position: relative;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  width: 90%;
  margin-left: 20px;
  font-size: 19px;
}
.blog-brief-card-description p {
  text-align: center;
  color: white;
  font-family: "Roboto Flex", sans-serif;
}
.blog-brief-card-description {
  height: 50%;
  display: flex;
  padding: 10px;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
}
.blog-brief-card-description a {
  color: black;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  color: white;
  font-weight: bold;
  font-family: "Roboto Flex", sans-serif;
  overflow: hidden;
}
footer form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
footer form button {
  width: 60px;
  padding: 7px;
}
footer form input {
  height: 30px;
}
footer input,
textarea:focus {
  outline: none;
}
.footer-upper-column {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: 90px;
}
.contacts {
  margin-left: 30px;
}
.patners,
.donate,
.quick-links {
  margin-right: 90px;
}
.quick-links {
  margin-left: 20px;
}
.footer-content {
  margin-top: 10px;
}
.upper-column-section1,
.upper-column-section2 {
  display: flex;
  width: 85%;
}
.upper-column-section1 footer form textarea {
  height: 100px;
}
.patners,
.donate {
  display: flex;
  flex-direction: column;
}
footer hr {
  transform: rotate(-180deg);
  width: 70%;
}
.footer-line {
  display: flex;
  justify-content: center;
}
.footer-lower-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
footer ul {
  display: flex;
}
footer ul li {
  margin: 25px;
  list-style: none;
}
footer ul li i {
  font-size: 25px;
  color: white;
}
.copyright {
  display: flex;
  flex-direction: row;
  margin-bottom: 46px;
}

/*HOME PAGE responsive design*/
@media screen and (max-width: 1454px) {
  .main-page-col-1 #p1 {
    font-size: 35px;
  }
  #p2 p {
    font-size: 23px;
  }
}
@media screen and (max-width: 1270px) {
  .nav2 i {
    color: #070c07;
  }
  .gallery-brief-container {
    flex-direction: column;
  }
  .gallery-brief-card {
    width: 50%;
    height: 400px;
  }
}
@media screen and (max-width: 1210px) {
  .about-us-info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .evend-card2 {
    width: 80%;
    text-align: center;
    margin-top: 40px;
  }
  .about-us-info-container svg {
    width: 120px;
    transform: rotate(90deg);
  }
  .about-us-button {
    transform: scale(0.9);
    margin-left: -10px;
    margin-top: 5px;
  }

  .events-container {
    flex-direction: column;
    font-family: "Roboto Flex", sans-serif;

    align-items: center;
  }
  .event-brief-card {
    width: 40%;
    height: 450px;
  }
  .blogs-brief-container {
    flex-direction: column;
  }
  .blog-brief-card {
    width: 45%;
    height: 500px;
  }
  .blog-brief-card-description p {
    font-size: 22px;
  }
  .blog-brief-hero-text {
    width: 70%;
    margin-bottom: 10px;
  }
  .blogs-brief-container svg {
    transform: rotate(90deg);
    width: 100px;
  }
  .blog-brief-card-picture-section-content {
    margin-top: 20%;
  }
  .movements .p2,
  .p3 {
    font-size: 30px;
  }
  .circle1 {
    top: -150px;
    left: -110px;
  }
  .circle2 {
    right: -150px;
    bottom: -180px;
  }
  .upper-column-section1 {
    flex-direction: column;
  }
  .contacts {
    margin-top: 40px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 1045px) {
  .footer-upper-column {
    flex-direction: column;
  }
  .upper-column-section2 {
    margin-top: 20px;
  }
  .quick-links {
    margin-left: 0;
  }
}
@media screen and (max-width: 1065px) {
  .nav1 {
    display: none;
  }
  .menu-bars {
    display: block;
    z-index: 1;
  }
  .cancel-bars {
    z-index: 1;
  }
  .main-page-container .overlay {
    height: 100vh;
  }
  .nav2 {
    display: none;
    position: absolute;
    border-radius: 3px;
    top: 6%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 230px;
    height: auto;
    margin-top: 20px;
    animation: widthgrow 0.7s ease-in-out;
    background-color: #ffffff;
  }
  .nav2 a {
    color: #070c07;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    width: auto;
    margin-left: 50px;
  }

  .nav2 ul {
    margin-bottom: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ul-opacity 2s ease-in-out;
    font-family: "Genos", sans-serif;
    font-size: 25px;
  }
  .nav2 p {
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    left: -49px;
    font-size: 22px;
    opacity: 60%;
    color: #087720;
    font-family: "Genos", sans-serif;
  }
  .nav2 ul a {
    height: 20px;
    margin-top: 40px;
  }
  @keyframes widthgrow {
    0% {
      width: 0%;
    }
    100% {
      width: 230px;
    }
  }
  @keyframes ul-opacity {
    0% {
      opacity: 0%;
    }
  }
}
@media screen and (max-width: 965px) {
  .main-page-col-1 {
    width: 100%;
    font-family: "Roboto Flex", sans-serif;
    font-size: 35px;
    margin-left: 30px;
  }

  .main-page-col-1 #p1 {
    align-items: center;
    font-size: 25px;
    margin-top: 50px;
    font-weight: bolder;
    text-align: center;
  }
  #p2 p {
    font-size: 15px;
    margin-left: 10px;
    width: 100%;
    
  }
  .read-more-articles a {
    margin-top: 70px;
    position: relative;
    margin-bottom: 50px;
  }
  .about-us-info-description {
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
  .about-us-navigation {
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }
  .about-us-navigation-column1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-us-navigation-column2 {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-us-button:hover {
    transform: translateY(-0px);
    z-index: 2;
  }
  .event-brief-card {
    width: 80%;
    margin: 0;
    margin-top: 30px;
  }
  .gallery-brief-card {
    width: 75%;
    height: 250px;
  }
  .blog-brief-card {
    width: 80%;
  }
  .blog-brief-hero-text {
    width: 80%;
    font-size: 17px;
    margin-top: -30px;
    margin-bottom: 90px;
  }
  .blog-brief-hero-text-button {
    margin-bottom: -230px;
  }
  .centered-button{
    margin-top: 30px;
  }
  .blog-brief-svg {
    margin-top: -95px;
  }
  .blog-brief-card-picture-section-content {
    font-size: 17px;
  }
}
@media screen and (max-width: 568px) {
  .blog-brief-card-picture-section-content {
    font-size: 17px;
  }
  .main-titles {
    font-size: 23px;
  }
}
@media screen and (max-width: 468px) {
  .main-page-col-2 {
    transform: scale(0.8);
  }
  .main-page-col-1 #p1 {
    font-size: 22px;
  }
  .about-us-main-title p{
    font-size: 23px;
    font-weight: bolder;
  }
  .about-us-info-description p{
    font-size: 14px;
    width: 100%;
  }
  .gallery-description-title p{
    font-size: 23px;
  }
  
  .centered-button{
    margin-left: 40px;
  }
  .read-more-articles a{
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 15px;
    font-family: "Roboto Flex", sans-serif;
  }
  .evend-card2 {
    font-size: 18px;
  }
  .about-us-card-svg {
    display: none;
  }
  .about-us-card {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    
  }
  .main-page-col-1 #p2 {
    border-left: 3px solid white;
  }
  #p2 {
    width: 90%;
    font-size: 8px;
  }
  .about-us-navigation{
    overflow: hidden;
  }
  .about-us-navigation-column1 {
    transform: scale(0.8);
    width: 100%;
    margin-left: 27px;
  }
  .about-us-navigation-column2 {
    transform: scale(0.8);
    margin-left: 27px;
  }
  .nav2 i {
    color: #070c07;
  }
  .movements-title p{
    font-size: 30px;
    margin-left: 26px;
  }
  .movements .p2,
  .p3 {
    font-size: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }
  .movements .p3 {
    margin-top: 120px;
    opacity: 30%;
  }
  .event-card-content {
    font-size: 17px;
  }
  .blog-brief-card-description p {
    font-size: 17px;
  }
  .upper-column-section2 {
    flex-direction: column;
    width: 80%;
  }
  .footer-upper-column {
    margin-left: 17px;
  }
  .footer-lower-column {
    width: 95%;
  }

  .footer-title {
    margin-top: 10px;
    font-size: 18px;
  }
  .footer-content{
    font-size: 14px;
  }
  .social-links ul {
    width: 60%;
  }
  .social-links i{
    font-size: px;
  }
  .copyrignt{
    font-size: 13px;
  }
}
@media screen and (min-width: 1066px) {
  .nav2 ul,
  .nav2 p {
    display: none;
  }
}
