form{
    display: flex;
    width: 100%;
    flex-direction: column;
}
form textarea{
    height: 150px;
    width: 80%;
    
}
fieldset{
    display: flex;
    flex-direction: column;
}
form input{
    width: 400px;
}
@media screen and (max-width:753px) {
    .main-links{
        font-size: 15px;
    }
    .main-links ul{
        flex-direction: column;
    }
}
